.button {
  padding: 13px 43px 13px 42px;
  border-radius: 100px;
  font-size: 19px;
  letter-spacing: 0.01em;
  border: 2px solid $color-primary;
  color: $color-dark-3xl;
  font-family: $georgia;
  transition: all 0.5s ease;
  &_primary {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
  &_secondary {
    background-color: $white;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
  &__circle {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    &-inactive {
      border-color: $color-dark-s;
      cursor: default;
    }
    &-active {
      background-color: $color-primary;
      cursor: default;
    }
    &:not(.button__circle-inactive, .button__circle-active):hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
}
.arrow {
  &__right {
    rotate: 180deg;
  }
  @media screen and (max-width: 460px) {
    
  }
}