.button {
  padding: 15px 45px;
  border-radius: 100px;
  &_primary {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
  &_secondary {
    background-color: $white;
    border: 2px solid $color-primary;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
  &__circle {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 1px solid $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
}
.arrow {
  &__right {
    rotate: 180deg;
  }
}