.logo {
  @include flexcolumn;
  align-items: center;
  margin-right: auto;
  gap: 10px;
  &_title {
    text-decoration: none;
    font-family: $georgia;
    text-transform: capitalize;
    color: $color-primary;
    font-size: 32px;
    line-height: 113%;
    letter-spacing: 0.06em;
  }
  &_subtitle {
    font-size: 13px;
    letter-spacing: 0.1em;
    color: $white;
    margin-left: 3px;
  }
}