.pets_pagination {
  display: flex;
  gap: 20px;
  color: $color-dark-3xl;
  justify-content: space-between;
  max-width: 340px;
  & .button__circle {
    @include header;
    font-size: 20px;
    line-height: 115%;
  }
  @media screen and (max-width: 400px) {
    gap: 10px;
  }
}