//pets card
.pets {
  @include flexcolumn;
  align-items: center;
  background-color: $color-light-s;
  max-width: 270px;
  gap: 30px;
  border-radius: 9px;
  padding-bottom: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  &_img {
    width: 270px;
    height: 270px;
    overflow: hidden;
  }
  &_name {
    font-family: $georgia;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
  &:hover {
    background-color: $white;
    & .button_secondary{
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      transition: all ease .5s;
    }
  }
}