.slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  max-width: 990px;
  overflow: hidden;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}



