.slider {
  display: flex;
  justify-content: space-between;
  padding: 0 53px 60px;
  width: 100%;
  overflow: hidden;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}



