.footer-container {
  background: url("../assets/img/noise_transparent.png"),
              radial-gradient(100% 500% at 0% 0%, #513d2f 0%, #1a1a1c 100%);
  background-color: $screen-gradient-background;
  padding-top: 41px;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.contacts {
  // max-width: 300px;
  max-height: 251px;
  @include flexcolumn;
  justify-content: space-between;
  padding-top: 17px;
  margin-right: 3px;
  &_item {
    text-decoration: none;
    color: $color-primary;
    font-size: 20px;
    font-family: $georgia;
    letter-spacing: 0.06em;
  }
}
.address {
  margin-left: -5px;
  & svg {
  width: 22px;
}
}
.footer_title {
  color: $white;
}
.footer-img {
  max-height: 310px;
}
.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts_icon {
  width: 40px;
  height: 32px;
}
.footer {
  flex-shrink: 0;
}