.help_item {
  @include flexcolumn;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: auto;
  height: 100%;
  flex: 1 1 auto;
  &:nth-child(6) {
    margin-left: 83px;
  }
  &:last-child {
    margin-right: 83px;
  }
  &-title {
    font-family: $georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
  
}
.help_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 119px;
 
}