.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1280px;
  
}
.header-nav{
  &_link {
    color: $color-dark-s;
    text-decoration: none;
  }
  &_list {
    display: flex;
    gap: 35px;
  }
}