.help {
  padding-top: 83px;
  &_icon {
    width: 60px;
    height: 60px;
  }
  &-content {
    width: 100%;
  }
  &_item {
    @include flexcolumn;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 20%;
    height: 100%;
    flex: 1 1 auto;
    
    &-title {
      font-family: $georgia;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
    }
    
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    // column-gap: 119px;
  }
}