*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
  display: none;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include parag;
  font-size: 15px;
  
}
.body_no-scroll {
  overflow: hidden;
}
button {
  border: none;
  font-family: $georgia;
  cursor: pointer;
  background-color: transparent;
}
input {
  border: none;
  margin: 0;
  padding: 0;
}
.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  // position: relative;
  // overflow: hidden;
  @media screen and (max-width: 1130px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 530px) {
    padding: 0 20px;
  }
  @media screen and (max-width:380px) {
    padding: 0 10px;
  }
}
.section-title {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  @media screen and (max-width:500px) {
    margin-bottom: 42px;
  }
}
.section_content {
  @include flexcolumn;
  gap: 25px;
  @media screen and (max-width: 500px) {
    align-items: center;
    text-align: center;
  }
}
