@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial/Arial-Black.eot");
  src: url("/assets/fonts/arial/Arial-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/Arial-Black.woff2") format("woff2"), url("/assets/fonts/arial/Arial-Black.woff") format("woff"), url("/assets/fonts/arial/Arial-Black.ttf") format("truetype"), url("/assets/fonts/arial/Arial-Black.svg#Arial-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial/Arial-BoldItalicMT.eot");
  src: url("/assets/fonts/arial/Arial-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/Arial-BoldItalicMT.woff2") format("woff2"), url("/assets/fonts/arial/Arial-BoldItalicMT.woff") format("woff"), url("/assets/fonts/arial/Arial-BoldItalicMT.ttf") format("truetype"), url("/assets/fonts/arial/Arial-BoldItalicMT.svg#Arial-BoldItalicMT") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial/Arial-ItalicMT.eot");
  src: url("/assets/fonts/arial/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("/assets/fonts/arial/Arial-ItalicMT.woff") format("woff"), url("/assets/fonts/arial/Arial-ItalicMT.ttf") format("truetype"), url("/assets/fonts/arial/Arial-ItalicMT.svg#Arial-ItalicMT") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial/Arial-BoldMT.eot");
  src: url("/assets/fonts/arial/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/Arial-BoldMT.woff2") format("woff2"), url("/assets/fonts/arial/Arial-BoldMT.woff") format("woff"), url("/assets/fonts/arial/Arial-BoldMT.ttf") format("truetype"), url("/assets/fonts/arial/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial/ArialNarrow.eot");
  src: url("/assets/fonts/arial/ArialNarrow.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/ArialNarrow.woff2") format("woff2"), url("/assets/fonts/arial/ArialNarrow.woff") format("woff"), url("/assets/fonts/arial/ArialNarrow.ttf") format("truetype"), url("/assets/fonts/arial/ArialNarrow.svg#ArialNarrow") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial/ArialNarrow-BoldItalic.eot");
  src: url("/assets/fonts/arial/ArialNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("/assets/fonts/arial/ArialNarrow-BoldItalic.woff") format("woff"), url("/assets/fonts/arial/ArialNarrow-BoldItalic.ttf") format("truetype"), url("/assets/fonts/arial/ArialNarrow-BoldItalic.svg#ArialNarrow-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial/ArialNarrow-Bold.eot");
  src: url("/assets/fonts/arial/ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/ArialNarrow-Bold.woff2") format("woff2"), url("/assets/fonts/arial/ArialNarrow-Bold.woff") format("woff"), url("/assets/fonts/arial/ArialNarrow-Bold.ttf") format("truetype"), url("/assets/fonts/arial/ArialNarrow-Bold.svg#ArialNarrow-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial/ArialNarrow-Italic.eot");
  src: url("/assets/fonts/arial/ArialNarrow-Italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/ArialNarrow-Italic.woff2") format("woff2"), url("/assets/fonts/arial/ArialNarrow-Italic.woff") format("woff"), url("/assets/fonts/arial/ArialNarrow-Italic.ttf") format("truetype"), url("/assets/fonts/arial/ArialNarrow-Italic.svg#ArialNarrow-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial/ArialMT.eot");
  src: url("/assets/fonts/arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/arial/ArialMT.woff2") format("woff2"), url("/assets/fonts/arial/ArialMT.woff") format("woff"), url("/assets/fonts/arial/ArialMT.ttf") format("truetype"), url("/assets/fonts/arial/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/assets/fonts/georgia/Georgia-BoldItalic.eot");
  src: url("/assets/fonts/georgia/Georgia-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/georgia/Georgia-BoldItalic.woff2") format("woff2"), url("/assets/fonts/georgia/Georgia-BoldItalic.woff") format("woff"), url("/assets/fonts/georgia/Georgia-BoldItalic.ttf") format("truetype"), url("/assets/fonts/georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/assets/fonts/georgia/Georgia.eot");
  src: url("/assets/fonts/georgia/Georgia.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/georgia/Georgia.woff2") format("woff2"), url("/assets/fonts/georgia/Georgia.woff") format("woff"), url("/assets/fonts/georgia/Georgia.ttf") format("truetype"), url("/assets/fonts/georgia/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/assets/fonts/georgia/Georgia-Bold.eot");
  src: url("/assets/fonts/georgia/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/georgia/Georgia-Bold.woff2") format("woff2"), url("/assets/fonts/georgia/Georgia-Bold.woff") format("woff"), url("/assets/fonts/georgia/Georgia-Bold.ttf") format("truetype"), url("/assets/fonts/georgia/Georgia-Bold.svg#Georgia-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/assets/fonts/georgia/Georgia-Italic.eot");
  src: url("/assets/fonts/georgia/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/georgia/Georgia-Italic.woff2") format("woff2"), url("/assets/fonts/georgia/Georgia-Italic.woff") format("woff"), url("/assets/fonts/georgia/Georgia-Italic.ttf") format("truetype"), url("/assets/fonts/georgia/Georgia-Italic.svg#Georgia-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-SemiBold.eot");
  src: url("/assets/fonts/inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"), url("/assets/fonts/inter/Inter-SemiBold.woff") format("woff"), url("/assets/fonts/inter/Inter-SemiBold.ttf") format("truetype"), url("/assets/fonts/inter/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Regular.eot");
  src: url("/assets/fonts/inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Regular.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Regular.woff") format("woff"), url("/assets/fonts/inter/Inter-Regular.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Thin.eot");
  src: url("/assets/fonts/inter/Inter-Thin.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Thin.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Thin.woff") format("woff"), url("/assets/fonts/inter/Inter-Thin.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Thin.svg#Inter-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Black.eot");
  src: url("/assets/fonts/inter/Inter-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Black.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Black.woff") format("woff"), url("/assets/fonts/inter/Inter-Black.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Black.svg#Inter-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Bold.eot");
  src: url("/assets/fonts/inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Bold.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Bold.woff") format("woff"), url("/assets/fonts/inter/Inter-Bold.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-ExtraBold.eot");
  src: url("/assets/fonts/inter/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-ExtraBold.woff2") format("woff2"), url("/assets/fonts/inter/Inter-ExtraBold.woff") format("woff"), url("/assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype"), url("/assets/fonts/inter/Inter-ExtraBold.svg#Inter-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Medium.eot");
  src: url("/assets/fonts/inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Medium.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Medium.woff") format("woff"), url("/assets/fonts/inter/Inter-Medium.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Light.eot");
  src: url("/assets/fonts/inter/Inter-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-Light.woff2") format("woff2"), url("/assets/fonts/inter/Inter-Light.woff") format("woff"), url("/assets/fonts/inter/Inter-Light.ttf") format("truetype"), url("/assets/fonts/inter/Inter-Light.svg#Inter-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-ExtraLight.eot");
  src: url("/assets/fonts/inter/Inter-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/inter/Inter-ExtraLight.woff2") format("woff2"), url("/assets/fonts/inter/Inter-ExtraLight.woff") format("woff"), url("/assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype"), url("/assets/fonts/inter/Inter-ExtraLight.svg#Inter-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  display: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", "Arial", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
}

button {
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-title {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 59px;
  text-align: center;
}

.section_content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h2 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 44px;
  line-height: 130%;
}

h3 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 35px;
  line-height: 128%;
  letter-spacing: 0.06em;
}

h4 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 20px;
  line-height: 115%;
}

h5 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.06em;
}

p {
  font-family: "Arial", "Arial", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 160%;
}

.notes {
  font-family: "Arial", "Arial", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}
.logo_title {
  padding-bottom: 10px;
  font-family: "Georgia", "Arial", sans-serif;
  text-transform: capitalize;
  color: #f1cdb3;
  font-size: 32px;
  line-height: 113%;
  letter-spacing: 0.06em;
}
.logo_subtitle {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-left: 3px;
}

.button {
  padding: 13px 43px 13px 42px;
  border-radius: 100px;
  font-size: 19px;
  letter-spacing: 0.01em;
  border: 2px solid #f1cdb3;
  color: #292929;
  font-family: "Georgia", "Arial", sans-serif;
}
.button_primary {
  background-color: #f1cdb3;
}
.button_primary:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
  transition: all ease 0.5s;
}
.button_secondary {
  background-color: #fff;
}
.button_secondary:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
  transition: all ease 0.5s;
}
.button__circle {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}
.button__circle-inactive {
  border-color: #cdcdcd;
  cursor: default;
}
.button__circle-inactive > h4 {
  color: #cdcdcd;
}
.button__circle:not(.button__circle-inactive):hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
  transition: all ease 0.5s;
}

.arrow__right {
  rotate: 180deg;
}

.slider {
  display: flex;
  justify-content: space-between;
  padding: 0 53px;
  width: 100%;
  overflow: hidden;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.slider-container {
  margin-bottom: 60px;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  max-width: 270px;
  gap: 30px;
  border-radius: 9px;
  padding-bottom: 30px;
  cursor: pointer;
}
.pets_img {
  width: 270px;
  height: 270px;
  overflow: hidden;
}
.pets_name {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets:hover {
  background-color: #fff;
}
.pets:hover .button_secondary {
  background-color: #fddcc4;
  border-color: #fddcc4;
  transition: all ease 0.5s;
}

.pets_pagination {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  color: #292929;
}
.pets_pagination .button__circle {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 20px;
  line-height: 115%;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.header-nav_link {
  color: #cdcdcd;
  text-decoration: none;
  display: block;
  position: relative;
}
.header-nav_link__inactive {
  cursor: default;
}
.header-nav_link__inactive::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
  bottom: -7px;
  left: 1px;
}
.header-nav_link:not(.header-nav_link__inactive)::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
  bottom: -7px;
  left: 1px;
  width: 0;
  transition: all 0.5s ease-out;
}
.header-nav_link:hover::after {
  width: 101%;
}
.header-nav_list {
  display: flex;
  gap: 36px;
  margin-bottom: 6px;
}

.footer-container {
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(100% 500% at 0% 0%, #513d2f 0%, #1a1a1c 100%);
  background-color: #211f20;
  padding-top: 41px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  max-height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;
  margin-right: 3px;
}
.contacts_item {
  text-decoration: none;
  color: #f1cdb3;
  font-size: 20px;
  font-family: "Georgia", "Arial", sans-serif;
  letter-spacing: 0.06em;
}

.address {
  margin-left: -5px;
}
.address svg {
  width: 22px;
}

.footer_title {
  color: #fff;
}

.footer-img {
  max-height: 310px;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts_icon {
  width: 40px;
  height: 32px;
}

.footer {
  flex-shrink: 0;
}

.help_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: auto;
  height: 100%;
  flex: 1 1 auto;
}
.help_item:nth-child(6) {
  margin-left: 83px;
}
.help_item:last-child {
  margin-right: 83px;
}
.help_item-title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.help_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  -moz-column-gap: 119px;
       column-gap: 119px;
}

.header-container {
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(70% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-color: #211f20;
}

.about-container {
  background-color: #fff;
}

.pets-container,
.donation-container {
  background-color: #f6f6f6;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 80px 0 100px;
  align-items: center;
}

.start {
  display: flex;
  min-height: 728px;
  margin-top: 59px;
  background-image: url("../assets/img/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-position: 100%;
}
.start_content {
  max-width: 460px;
  margin-top: 164px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}
.start_title {
  color: #fff;
  max-width: 310px;
}
.start_text {
  color: #cdcdcd;
  margin-bottom: 1px;
}

.about {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.about_img {
  width: auto;
  height: 408px;
}
.about .section_content {
  max-width: 430px;
}

.pets-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help {
  padding-top: 83px;
}

.help-content {
  width: 100%;
  padding: 0 87px;
}

.help_icon {
  width: 60px;
  height: 60px;
}

.donation {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
}
.donation_img {
  height: 261px;
  margin-top: 11px;
}
.donation > .section_content {
  max-width: 380px;
  gap: 20px;
  margin-top: 0;
}

.card-number {
  max-width: 350px;
  font-family: "Georgia", "Arial", sans-serif;
  padding: 10px 15px 10px 60px;
  font-size: 20px;
  background-color: #f1cdb3;
  border-radius: 9px;
  color: #545454;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: block;
  position: relative;
}
.card-number::before {
  position: absolute;
  left: 15px;
  bottom: 10px;
  content: "";
  display: block;
  background-image: url("../assets/img/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}

.pets_wrapper {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.pets_menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 30px;
}

.header-container-pets {
  background: #fff;
}
.header-container-pets .logo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.header-container-pets .logo_title {
  color: #545454;
}
.header-container-pets .logo_subtitle {
  color: #292929;
}
.header-container-pets .header-nav_link {
  color: #545454;
}/*# sourceMappingURL=index.css.map */