@mixin header {
  font-family: $georgia;
  font-weight: 400;
  color: $color-dark-l;
  letter-spacing: 0.06em;
}
@mixin parag {
  font-family: $arial;
  font-weight: 400;
  color: $color-dark-xl;
}
@mixin flexcolumn {
  display: flex;
  flex-direction: column;
}
