.header-nav_item:first-child {
  position: relative;
  & > a {
    cursor: default;
  }
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 114px;
    height: 3px;
    background-color: $color-primary;
    bottom: -3px;
    left: 0;
  }
}
.start {
  background-color: $start-screen-gradient-background;
  background-image: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), url("../../img/noise_transparent.png");
  background-size: 100%;
  &_content {
    max-width: 460px;
  }
  &_title {
    color: $white;
  }
  &_text {
    color: $color-dark-s;
  }
}