.header-container {
  background: url("../assets/img/noise_transparent@2x.png"),
              radial-gradient(70% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-color: $screen-gradient-background;
}
.about-container {
  background-color: $white;
}
.pets-container,
.donation-container {
  background-color: $color-light-l;
}

.main-section {
  @include flexcolumn;
  padding: 80px 0 100px;
  align-items: center;
}
.start {
  display: flex;
  margin-top: 59px;
  justify-content: space-between;
  &_content {
    max-width: 460px;
    align-self: center;
    @include flexcolumn;
    align-items: flex-start;
    gap: 41px;
    flex-shrink: 0;
    margin-bottom: 80px;
  }
  &_title {
    color: $white;
    max-width: 310px;
  }
  &_text {
    color: $color-dark-s;
    margin-bottom: 1px;
  }
  &_img {
    max-width: 698px;
    max-height: 728px;
    min-width: 569px;
    min-height: 593px;
    align-self: flex-end;
    & > img {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
    }
    @media screen and (max-width: 1130px) {
      max-width: 569px;
      max-height: 593px;
      min-width: 260px;
    }
  }
  @media screen and (max-width: 1130px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
    margin-top: 30px;
    .button {
      align-self: center;
    }
    .start_img {
      margin-left: auto;
    }
  }
}
.about {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  &_img {
    width: auto;
    height: 408px;
  }
  & .section_content {
    max-width: 430px;
    flex-shrink: 0;
  }
  @media screen and (max-width: 1130px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 80px;
  }
}
.pets-section {
  @include flexcolumn;
  align-items: center;
}
.help {
  padding-top: 82px;
}

.donation {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
  &_img {
    height: 261px;
    margin-top: 11px;
  }
  & > .section_content {
    max-width: 380px;
    gap: 20px;
    margin-top: 0;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.card-number {
  max-width: 350px;
  font-family: $georgia;
  padding: 10px 15px 10px 60px;
  font-size: 20px;
  background-color: $color-primary;
  border-radius: 9px;
  color: $color-dark-l;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: block;
  position: relative;
  &::before {
    position: absolute;
    left: 15px;
    bottom: 10px;
    content: "";
    display: block;
    background-image: url('../assets/img/icons/credit-card.svg');
    width: 30px;
    height: 23px;
  }
}
