.pets_wrapper {
  @include flexcolumn;
  gap: 59px;
  width: 100%;
  align-items: center;
  @media screen and (max-width: 970px) {
    gap: 38px;
  }
  @media screen and (max-width: 320px) {
    gap: 42px;
  }
}
.pets_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 30px;
  column-gap: 40px;
  overflow: hidden;
  @media screen and (max-width: 970px) {
    max-height: calc(435px * 3 + 30px * 2);
  }
}
.header-container-pets {
  background: $white;
  & .logo {
    @include flexcolumn;
    margin-right: auto;
    &_title {
      color: $color-dark-l;
    }
    &_subtitle {
      color: $color-dark-3xl;
    }
  }
  & .header-nav_link {
    color: $color-dark-l;
    &__inactive {
      color: $color-dark-3xl;
    }
    &:hover {
      color: $color-dark-3xl;
    }
  }
}
.pets-section {
  @media screen and (max-width: 768px) {
    padding-bottom: 77px;
    .section-title {
      margin-bottom: 30px;
    }
    
  }
  @media screen and (max-width: 320px) {
    padding-bottom: 42px;
    .section-title {
      margin-bottom: 42px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header-container-pets .header-nav__active {
    background-color: #fff;
  }
}